@mixin text-style-body {
  font-size: font-size(400);;
  font-weight: 400;
  line-height: line-height(400);
}

@mixin text-style-heading {
  font-size: font-size(700);;
  font-weight: 600;
  line-height: line-height(200);
}

@mixin text-style-display-heading {
  font-size: font-size(900);
  font-weight: 600;
  line-height: line-height(200);
}

@mixin text-style-small-heading {
  font-size: font-size(600);
  font-weight: 600;
  line-height: line-height(200);
}

@mixin text-style-smaller-heading {
  font-size: font-size(400);
  font-weight: 600;
  line-height: line-height(200);
}
